/* 变量 */

:root {
    --color: red;
}

div {
    color: var(--color);
}


/* 选择器 */

@custom-selector :--heading h1, h3, h3, h4, h5, h6;
.article :--heading+p {
    margin-top: 0;
}


/* 媒体查询 */
@custom-media --small-viewport (max-width: 30em);
@media (--small-viewport) {
    /* styles for small viewport */
}


/* 嵌套 */

.a, .b {
    color: red;
    & .c, & .d {
        color: white;
    }
    & & {
        color: blue;
    }
    &:hover {
        color: black;
    }
    @media (min-width: 30em) {
        color: yellow;
        @media (min-device-pixel-ratio: 1.5) {
            color: green;
        }
    }
}


/* Size */

.icon {
    size: 48px;
}


/*Position*/

.banner {
    position: fixed 0 0 *;
}


/*Color*/

.canvas {
    color: #abccfc #212231;
}


/*Font-Size*/

.heading {
    font-size: 1.25em 2;
}


/*Border*/

.container {
    border: 1px 2px #343434;
}


/*矩形*/

.rect-a {
    rect: 30px 50px #ff0;
}

.rect-b {
    rect: 30px * #ff0;
}


/*圆形*/

.circle-a {
    circle: 50px #ff0;
}

.circle-b {
    circle: 50px *;
}


/*文本超长溢出省略号*/

.ellipsis {
    @utils-ellipsis;
}

.ellipsis2 {
    @utils-ellipsis 3;
}


/*Clearfix*/

.clearfix {
    @utils-clearfix;
}


/*Disabled*/

.disabled {
    @utils-disabled #ccc #f00 #333;
}

.sky {
    margin: 2.5rem 2px 3em 100%;
    color: blue;
}

@media screen and (min-width: 20rem) {
    .leaf {
        margin-bottom: 1.333rem;
        font-size: 1.5rem;
    }
}

$blue: #056ef0;
$column: 200px;
@define-mixin icon $name {
    padding-left: 16px;
    &::after {
        content: "";
        background-url: url(/icons/$name.png);
    }
}

@define-extend bg-green {
    background: green;
}

@define-extend bg-yellow {
    background: yellow;
}

.search {
    @mixin icon search;
    @extend bg-green;
}

.menu {
    background: color($blue blackness(20%));
    width: calc(4 * $column);
}

.notice {
    @if 3 < 5 {
        @extend bg-green;
    }
    @else {
        @extend bg-yellow;
    }
}

@for $i from 10 to 30 by 10 {
    .col-$i {
        width: $i%;
    }
}

@each $icon in (foo, bar, baz) {
    .icon-$(icon) {
        background: url(icons/$icon.png);
    }
}
