@import "_reset";

// @media screen and (max-width: 320px) {
    
// }
// @media screen and (min-width: 540px) {
    
// }
body {
    background: #f4f4f4;
    color: #000;
    font-size: 0.25rem;
    line-height: 0.36rem;
}
.wrap {
    background: #fee2ea;
}
