/*
 * file: global/global.scss
 */

// 设计稿宽度
$vm_design: 1920;
// 为什么设置 100? 设置成便于计算, 计算rem时只需要将 设计稿的宽度 / 100 即可
$vm_fontsize: 100;

html {
    font-size: $vm_fontsize / $vm_design * 100vw;
    @media screen and (min-width: 1230px) {
        font-size: $vm_fontsize / 1200 * 1200px;
    }
    @media screen and (max-width: 1024px) {
        font-size: $vm_fontsize / 1200 * 1024px;
    }
}

@mixin width {
    width: 12rem;
    margin: 0 auto;
    @media screen and (max-width: 1230PX) {
        width: 100%;
    }
    @media screen and (max-width: 1024PX) {
        width: 1024PX;
    }
}

body {
    background: #f4f4f4;
    color: #000;
    font-size: 0.25rem;
    line-height: 0.36rem;
}
