/* 清除内外边距 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
fieldset,
button,
input,
textarea,
th,
td {
  /* table elements 表格元素 */
  margin: 0;
  padding: 0;
}
/* 设置默认字体 */
body,
button,
input,
select,
textarea {
  /* for ie */
  /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
  font-size: 12px;
  font-family: 'Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif';
}
h1 {
  font-size: 18px;
  /* 18px / 12px = 1.5 */
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 14px;
}
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
/* 将斜体扶正 */
code,
kbd,
pre,
samp,
tt {
  font-family: "Courier New", Courier, monospace;
}
/* 统一等宽字体 */
small {
  font-size: 12px;
}
/* 小于 12px 的中文很难阅读，让 small 正常化 */
/* 重置列表元素 */
ul,
ol {
  list-style: none;
}
/* 重置文本格式元素 */
a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
a:hover {
  text-decoration: none;
}
abbr[title],
acronym[title] {
  /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
  border-bottom: 1px dotted;
  cursor: help;
}
q:before,
q:after {
  content: '';
}
/* 重置表单元素 */
legend {
  color: #000;
}
/* for ie6 */
fieldset,
img {
  border: none;
}
/* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 使得表单元素在 ie 下能继承字体大小 */
}
/* 重置表格元素 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* 重置 hr */
hr {
  border: none;
  height: 1px;
}
/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html {
  overflow-y: scroll;
}
/* 其他常用样式 */
.hidden {
  display: none !important;
}
.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
html {
  font-size: 13.33333333vw;
}
@media screen and (max-width: 320px) {
  html {
    font-size: 42.6px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 72px;
  }
}
body {
  max-width: 540px;
  min-width: 320px;
  margin: 0 auto;
  background: #f4f4f4;
  color: #000;
  font-size: 0.25rem;
  line-height: 0.36rem;
}
.wrap {
  background: #fee2ea;
}
.wrap .logo {
  height: 5.51rem;
  background: url(../images/logo.jpg);
  background-size: cover;
}
.wrap .box {
  position: relative;
  margin: 0.8rem 0.1rem 0;
  padding-top: 0.65rem;
  padding-bottom: 0.9rem;
  background: #fff;
}
.wrap .box .title {
  width: 100%;
  position: absolute;
  top: -0.37rem;
  left: 50%;
}
.wrap .box .item {
  padding: 0 0.22rem;
}
.wrap .box .item + .item {
  margin-top: 0.4rem;
}
.wrap .box .item .group-name {
  font-size: 0.35rem;
  text-align: center;
}
.wrap .box .item .group-name span {
  display: inline-block;
  position: relative;
}
.wrap .box .item .group-name span:before,
.wrap .box .item .group-name span:after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 0.83rem;
  height: 0.52rem;
  background: url(../images/xiexian-2.png);
  background-size: cover;
}
.wrap .box .item .group-name span:before {
  left: -1rem;
  top: 0.1rem;
}
.wrap .box .item .group-name span:after {
  right: -1rem;
  top: 0.1rem;
}
.wrap .box .item .group-reason {
  padding: 0.3rem 0;
}
.wrap .box .item .group-image img {
  display: block;
  max-width: 6.9rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.02rem solid #000;
}
.wrap .box .item .group-join {
  text-align: center;
  margin-top: -0.32rem;
  font-size: 0;
}
.wrap .box .item .group-join a {
  display: inline-block;
  width: 1.63rem;
  height: 0.55rem;
  background: url(../images/join.png);
  background-size: cover;
}
.wrap .box .item .line {
  height: 0.04rem;
  margin-top: 0.2rem;
  background: url(../images/line.jpg);
}
.wrap .box1 .title {
  width: 4.85rem;
  margin-left: -2.42rem;
}
.wrap .box1 .title img {
  width: 4.85rem;
  height: 0.69rem;
}
.wrap .box2 {
  padding-bottom: 0;
}
.wrap .box2 .title {
  width: 3.6rem;
  margin-left: -1.8rem;
}
.wrap .box2 .title img {
  width: 3.6rem;
  height: 0.69rem;
}
.wrap .foot {
  width: 7.5rem;
  height: 3.5rem;
  background: url(../images/foot.jpg);
  background-size: cover;
}
.wrap .foot a {
  width: 4.24rem;
  height: 0.78rem;
  display: inline-block;
  margin: 1.5rem 0 0 1.46rem;
}
