doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="google" content="notranslate")
        meta(name="description" content="分享你的时尚经验和时尚好东西")
        meta(name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no")
        title pug test
        link(href= "css/style.css")
    body
        div#app.wrap
            .logo
            .box.box1
                .title
                    img(src="assets/images/hot_group.jpg")
                .item
                    .group-name /// TOP1：空瓶记 ///
                    .group-reason 推荐理由：好东西至少要空瓶才有说服力！
                    .group-image
                        img(src="assets/images/blank.gif" data-echo="assets/images/1.jpg")
                    .group-join
                        a(href="xxx://app/group/15") 点击加入
                    .line
        script(type='text/javascript').
            var script = document.createElement('script')
            if (window.location.search.indexOf('debug') > -1 && window.location.hostname !== 'localhost') {
                script.src = './js/about-debug.js'
            } else {
                script.src = './js/about.js'
            }
            document.body.appendChild(script)
